@import "color";

// start public
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $colorMain;
}

body {
    text-transform: capitalize;
}

.textColorMain {
    line-height: 30px;
    color: $colorText;
}

.divColorMain {
    color: $colorSearch;
}

.classSearch {
    font-size: 20px;
}

.widthDivInput {
    width: 90%;
}

.buttonComponent {
    background-color: $colorOrange;
}

.buttonComponent:hover {
    background-color: $colorHoverButton;
    color: $colorWhite !important;
}

.textOrange {
    color: $colorOrange;
}

// end public
// start header
body header {
    z-index: 1;
    background-color: $colorMain !important;
}

body header div div ul li .hoverNavbar:hover {
    color: $colorOrange !important;
}

// end header
// start main
body main {
    background-color: $colorMain;
    height: 100vh;
}

body main .mainContainer {
    transform: translate(0, 74px);
}

body main .mainContainer .row div div .sizeTitleMain {
    font-size: 55px;
}

body main .mainContainer .row div div form input::placeholder {
    padding-left: 35px;
}

.divLineHeight::before {
    content: "";
    position: absolute;
    background-color: $colorSearch;
    width: 1.7px;
    height: 20px;
    top: 6px;
    left: -13px;
}

.divLineHeight:first-child::before {
    display: none !important;
}

body main .mainContainer .row div form .divButtonEnd .inputDisplay {
    display: flex;
}

body main .mainContainer .row div form .divButtonEnd .inputDisplay div .divSelect {
    transform: translate(0, -0.5px);
}

body main .mainContainer .row div form .divButtonEnd .inputDisplay div .divSelect .customSelectArrow {
    position: absolute;
    top: 10.5px;
    right: -20px;
    color: $colorOrange;
    font-size: 12px;
}

body main .mainContainer .row div form .divButtonEnd .inputDisplay div .divSelect select {
    -webkit-appearance: none;
}

body main .mainContainer .row div form .divButtonEnd {
    justify-content: space-between;
}

// end main
// start quality education
body section .container .row div div .imageColWidth {
    width: 90%;
}

// end quality education
// start popular
body .sectionPopular {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $colorourMost;
}

body .sectionPopular .gapRow {
    row-gap: 30px;
}

// end popular
// start student
body section .container div div .divArrawCarousle {
    border: 2px solid $colorMain;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

body section .container div div .divArrawCarousle:hover {
    color: $colorWhite;
    background-color: $colorOrange;
}

body section .container div div div .iconArraw {
    font-size: 12px;
}

body section .container div div .row div .divHeightCarousel {
    height: 320px;
}

body section .container div div .row div .divHeightCarousel div div .imageCarousel {
    width: 50px;
}

// end student
// start footer
footer {
    background-color: $colorMain;
}

// end footer
// start media
@media (max-width: 990px) {
    body header div .collapse ul li .buttonNavbar {
        width: 25%;
    }

    .divWidthMobile {
        width: 100% !important;
    }

    body main {
        height: 750px;
    }

    body main .mainContainer .row div div form input {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    body main .mainContainer .row div form .divButtonEnd {
        justify-content: center;
    }
}

// end media