@import "color";

// start public
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $colorMain;
}

body {
    text-transform: capitalize;
}

// end public
// start header
body header {
    z-index: 1;
    background-color: $colorMain !important;
}

.hoverNavbar:hover {
    color: $colorOrange !important;
}

.buttonNavbar {
    background-color: $colorOrange;
}

.buttonNavbar:hover {
    background-color: $colorHoverButton;
    color: $colorWhite !important;
}

// end header
// start main
main {
    background-color: $colorMain;
    height: 100vh;
}

.mainContainer {
    transform: translate(0, 74px);
}

.sizeTitleMain {
    font-size: 55px;
}

.textColorMain {
    line-height: 30px;
    color: $colorText;
}

.divColorMain {
    color: $colorSearch;
}

.classSearch {
    font-size: 20px;
}

.widthDivInput {
    width: 80%;
}

input::placeholder {
    padding-left: 35px;
}

.divLineHeight::before {
    content: "";
    position: absolute;
    background-color: $colorSearch;
    width: 1.7px;
    height: 20px;
    top: 4px;
    left: -13px;
}

.divLineHeight:first-child::before {
    display: none !important;
}

.inputDisplay {
    display: flex;
}

.divSelect {
    transform: translate(0, -0.5px);
}

.customSelectArrow {
    position: absolute;
    top: 8px;
    right: -20px;
    color: $colorOrange;
    font-size: 12px;
}

select {
    -webkit-appearance: none;
}

.divButtonEnd {
    justify-content: space-between;
}

// end main
// start media
@media (max-width: 990px) {
    body header div .collapse ul li .buttonNavbar {
        width: 25%;
    }

    .divWidthMobile {
        width: 100% !important;
    }

    main {
        height: 750px;
    }

    input {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

// end media